@font-face {
    font-family: '8bit';
    src: url('../font/8bitoperator.eot');
    src: url('../font/8bitoperator.eot') format('embedded-opentype'),
         url('../font/8bitoperator.woff2') format('woff2'),
         url('../font/8bitoperator.woff') format('woff'),
         url('../font/8bitoperator.ttf') format('truetype'),
         url('../font/8bitoperator.svg#8bitoperato') format('svg');
}

*{
	margin: 0;
	padding: 0;
	font-family:"8bit","microsoft yahei";
}

.bgBlack{
	background-color: #000000;
	color: #FFFFFF;
}

.bgBlue{
	background-color: #0000FF;
}
.bdWhite{
	border: 2px solid #FFFFFF;
	box-sizing: border-box;
}
.bdGreen{
	border: 2px solid #00ff00;
	box-sizing: border-box;
}
.bdRed{
	border: 2px solid #FF0000;
	box-sizing: border-box;
}
.bdBlue{
	border: 2px solid #0000FF;
	box-sizing: border-box;
}