.content {
    height: auto;
    margin: 20px auto;
    width: 1000px;
}

.content .title {
    height: 60px;
    margin: -2px 0 0 -2px;
    width: 1000px;
}

.content .title .button {
    cursor: pointer;
    float: left;
    font-size: 20px;
    height: 56px;
    line-height: 58px;
    text-align: center;
    width: 120px;
}

.content .title .button.active { background: #0000FF; }

.content .cl {
    height: auto;
    margin: -2px 0 0 -2px;
    width: 700px;
}

.content .cb {
    height: 120px;
    margin: -2px 0 0 -2px;
    width: 1000px;
}

.content .cb .timer {
    font-size: 12px;
    height: 56px;
    margin-left: 50px;
    width: 400px;
    line-height: 56px;
    text-align: left;
}
.content .cb .copyRight {
    font-size: 12px;
    height: 56px;
    margin-left: 50px;
    width: 800px;
    line-height: 56px;
    text-align: left;
}
